# venv
.dwainsvenv/
.venv/
venv/

# personal files
reference-files/
CLAUDE.md

# python
__pycache__/
*.py[cod]

# jupyter
.ipynb_checkpoints/

# octave
octave-workspace

# report
Predicting_California_Median_House_Values_with_Linear_Regression.docx
Predicting_California_Median_House_Values_with_Linear_Regression.pdf